/* CSS Document */
*, ::after, ::before, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(../texture/intersection.png) repeat repeat;
  max-width: 100%;
  font-family: "Roboto", Arial, sans-serif; 
  font-size: 25px;
}

@media only screen and (max-width: 800px) {
  body { font-size: 0.8em; }
}

.container {
  top: 0px;
  background: url(../img/IMG0113.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

  .container, body {
    height: 100%;
  }

  .title {
    font: bold 3em "Roboto", Arial, sans-serif;
  }

  .title h1 {
    color: #fff;
    text-align: center;
    margin-top: 300px;
  }

.section {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-size: 1em;
}

.wrap {
  position: relative;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 2em; 
}  
  
  .img1 {
    margin: 0 auto; 
    max-width: 100%;
    margin-top: 40px;
    display: block;
  }
  
footer {
    max-width: 100%;
    text-align: center;
    background: grey;
    margin-top: 15px;
    z-index: 200;
    padding: 8px;
    overflow: hidden;
  }
  
  footer p {
    font-size: 1em;
    color: #fff;
  }            
  
  